#login-form {
    visibility: hidden;
}

.movie {
    display: inline;
}

#top-banner {

}


#top-banner div {
    display: inline;
    border: thin blue solid;
}

.movie {
    background: #181818 url(/img/dark_plus.png) no-repeat 50% 50%;
}