#login-form {
    visibility: hidden;
}

.movie {
    display: inline;
}

.movie>div {
    display: inline;
}

#top-banner {

}


#top-banner div {
    display: inline;
    border: thin blue solid;
}

.hover {
    background-image: url(/img/dark_plus.png);
    background-color: #181818;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}